@font-face {
    font-family: "learnlinkico";
    src:
        //   url('fonts/learnlinkico.ttf?sas272') format('truetype'),
        url("../../assets/fonts/learnlinkico.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "learnlinkico" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
    content: "\e901";
}
.icon-arrow-left:before {
    content: "\e902";
}
.icon-arrow-left-dotted:before {
    content: "\e903";
}
.icon-arrow-right:before {
    content: "\e904";
}
.icon-arrow-right-dotted:before {
    content: "\e905";
}
.icon-arrow-up:before {
    content: "\e906";
}
.icon-badge:before {
    content: "\e907";
}
.icon-beaker:before {
    content: "\e908";
}
.icon-bolt:before {
    content: "\e909";
}
.icon-burger:before {
    content: "\e90a";
}
.icon-chat:before {
    content: "\e90b";
}
.icon-check:before {
    content: "\e90c";
}
.icon-code-add:before {
    content: "\e90d";
}
.icon-cross:before {
    content: "\e90e";
}
.icon-cross-circle:before {
    content: "\e90f";
}
.icon-document-add:before {
    content: "\e910";
}
.icon-ellipsis:before {
    content: "\e911";
}
.icon-file:before {
    content: "\e912";
}
.icon-invisible:before {
    content: "\e913";
}
.icon-invisible-circle:before {
    content: "\e914";
}
.icon-lock:before {
    content: "\e915";
}
.icon-minus:before {
    content: "\e916";
}
.icon-module:before {
    content: "\e917";
}
.icon-notification:before {
    content: "\e918";
}
.icon-pen:before {
    content: "\e919";
}
.icon-pen-circle:before {
    content: "\e91a";
}
.icon-plus:before {
    content: "\e91b";
}
.icon-plus-circle:before {
    content: "\e91c";
}
.icon-power:before {
    content: "\e91d";
}
.icon-search:before {
    content: "\e91e";
}
.icon-star:before {
    content: "\e91f";
}
.icon-text-add:before {
    content: "\e920";
}
.icon-update:before {
    content: "\e921";
}
.icon-user:before {
    content: "\e922";
}
.icon-user-group:before {
    content: "\e923";
}
.icon-user-group-circle:before {
    content: "\e924";
}
.icon-user-lock:before {
    content: "\e925";
}
.icon-visible:before {
    content: "\e926";
}
