//Font size variables

$h1-fz: 42px;
$h2-fz: 26px;
$h3-fz: 22px;
$big-fz: 32px;
$inputs-fz: 20px;
$reg-fz: 16px;
$small-fz: 12px;
$tiny-fz: 10px;

//Colors variables

$mainGray: #0e0e0e;
$darkGray: #3a3a3a;
$secondaryGray: #b8b8b8;
$veryLightGray: #f3f3f3;
$lightGray: #dfdfdf;
$white: #fff;
$mainViolet: #8234ff;
$lightViolet: #8c74ff;
$veryLightViolet: #f6f4ff;
$darkViolet: #180034;
$red: #ff2732;
$darkerRed: #dd151f;
$lightRed: #ff616e;
$lighterRed: #ffbbc1;
$yellow: #ffb71d;
$veryLightYellow: #fcf5e6;
$veryLightRed: #ffebed;
$green: #2cdc6f;
$lightGreen: #4cddc7;
$veryLightGreen: #e3ffee;

//Media breakpoints variables

$xs: 440px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1280px;
