@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  font-family: "Golos Text";
}

* {
  box-sizing: border-box;
  min-width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input,
button,
textarea {
  font-family: inherit;
}

@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/golos-text-v4-cyrillic_latin-regular.woff2") format("woff2"), url("../../assets/fonts/golos-text-v4-cyrillic_latin-regular.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* golos-text-500 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/fonts/golos-text-v4-cyrillic_latin-500.woff2") format("woff2"), url("../../assets/fonts/golos-text-v4-cyrillic_latin-500.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* golos-text-600 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/fonts/golos-text-v4-cyrillic_latin-600.woff2") format("woff2"), url("../../assets/fonts/golos-text-v4-cyrillic_latin-600.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* golos-text-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/golos-text-v4-cyrillic_latin-700.woff2") format("woff2"), url("../../assets/fonts/golos-text-v4-cyrillic_latin-700.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* golos-text-800 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 800;
  src: url("../../assets/fonts/golos-text-v4-cyrillic_latin-800.woff2") format("woff2"), url("../../assets/fonts/golos-text-v4-cyrillic_latin-800.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-mono-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/roboto-mono-v23-cyrillic_latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-mono-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/fonts/roboto-mono-v23-cyrillic_latin-500.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-family: "learnlinkico";
  src: url("../../assets/fonts/learnlinkico.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "learnlinkico" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e901";
}

.icon-arrow-left:before {
  content: "\e902";
}

.icon-arrow-left-dotted:before {
  content: "\e903";
}

.icon-arrow-right:before {
  content: "\e904";
}

.icon-arrow-right-dotted:before {
  content: "\e905";
}

.icon-arrow-up:before {
  content: "\e906";
}

.icon-badge:before {
  content: "\e907";
}

.icon-beaker:before {
  content: "\e908";
}

.icon-bolt:before {
  content: "\e909";
}

.icon-burger:before {
  content: "\e90a";
}

.icon-chat:before {
  content: "\e90b";
}

.icon-check:before {
  content: "\e90c";
}

.icon-code-add:before {
  content: "\e90d";
}

.icon-cross:before {
  content: "\e90e";
}

.icon-cross-circle:before {
  content: "\e90f";
}

.icon-document-add:before {
  content: "\e910";
}

.icon-ellipsis:before {
  content: "\e911";
}

.icon-file:before {
  content: "\e912";
}

.icon-invisible:before {
  content: "\e913";
}

.icon-invisible-circle:before {
  content: "\e914";
}

.icon-lock:before {
  content: "\e915";
}

.icon-minus:before {
  content: "\e916";
}

.icon-module:before {
  content: "\e917";
}

.icon-notification:before {
  content: "\e918";
}

.icon-pen:before {
  content: "\e919";
}

.icon-pen-circle:before {
  content: "\e91a";
}

.icon-plus:before {
  content: "\e91b";
}

.icon-plus-circle:before {
  content: "\e91c";
}

.icon-power:before {
  content: "\e91d";
}

.icon-search:before {
  content: "\e91e";
}

.icon-star:before {
  content: "\e91f";
}

.icon-text-add:before {
  content: "\e920";
}

.icon-update:before {
  content: "\e921";
}

.icon-user:before {
  content: "\e922";
}

.icon-user-group:before {
  content: "\e923";
}

.icon-user-group-circle:before {
  content: "\e924";
}

.icon-user-lock:before {
  content: "\e925";
}

.icon-visible:before {
  content: "\e926";
}

* {
  font-size: 16px;
  color: #0e0e0e;
}

.container {
  box-sizing: border-box;
  padding: 0 20px;
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr 160px;
  min-height: calc(100dvh + 160px);
}

body {
  background-color: #fff;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

input,
textarea {
  padding: 0;
  margin: 0;
  min-height: 30px;
  border: none;
  outline: none;
  color: #0e0e0e;
  font-size: 16px;
}

.textarea {
  resize: none;
  min-height: 250px !important;
  color: #0e0e0e;
}

h1 {
  font-size: 42px;
  font-weight: 700;
}

h2 {
  font-size: 26px;
  font-weight: 600;
}

h3 {
  font-size: 22px;
  font-weight: 600;
}

b,
strong {
  font-weight: 600;
}

i {
  font-style: italic;
}

ul {
  padding-left: 40px; /* Добавьте отступ слева */
  list-style: disc;
}

/* Стили для нумерованных списков */
ol {
  list-style-type: round; /* Замените на любой другой тип нумерации */
  padding-left: 40px; /* Добавьте отступ слева */
}

a {
  color: #8c74ff;
  font-weight: 500;
}
a * {
  color: #8c74ff;
}
@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}
@media (hover: none) {
  a:active {
    text-decoration: underline;
  }
}

.button-base, .button-white-green, .button-white-red, .button-gray-violet, .button-gray, .button-danger-light, .button-red-light-rounded, .button-danger, .button-violet-outline, .button-violet-outline-rounded, .button-violet-light, .button-violet-light-rounded, .button-violet, .button-violet-rounded, .button-white-tp, .button-round, .modal__close-button {
  border-radius: 5px;
  height: 50px;
  background-color: #fff;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.button-base > *, .button-white-green > *, .button-white-red > *, .button-gray-violet > *, .button-gray > *, .button-danger-light > *, .button-red-light-rounded > *, .button-danger > *, .button-violet-outline > *, .button-violet-outline-rounded > *, .button-violet-light > *, .button-violet-light-rounded > *, .button-violet > *, .button-violet-rounded > *, .button-white-tp > *, .button-round > *, .modal__close-button > * {
  transition: inherit;
}

.button-round, .modal__close-button, .button-violet-outline-rounded, .button-violet-rounded, .button-red-light-rounded, .button-violet-light-rounded {
  border-radius: 100px;
}

.button-white-tp {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  outline: solid 4px transparent;
  transition: 0.3s ease-in-out;
}
@media (hover: hover) {
  .button-white-tp:hover {
    background-color: #fff;
    color: #0e0e0e;
    outline: solid 4px rgba(255, 255, 255, 0.3);
  }
}
@media (hover: none) {
  .button-white-tp:active {
    background-color: #fff;
    color: #0e0e0e;
    outline: solid 4px rgba(255, 255, 255, 0.3);
  }
}

.button-violet, .button-violet-rounded {
  background-color: #8c74ff;
  color: #fff;
  outline: solid 4px transparent;
  transition: 0.4s ease-in-out;
}
@media (hover: hover) {
  .button-violet:hover, .button-violet-rounded:hover {
    background-color: #8234ff;
    outline: solid 4px rgba(140, 116, 255, 0.4);
  }
}
@media (hover: none) {
  .button-violet:active, .button-violet-rounded:active {
    background-color: #8234ff;
    outline: solid 4px rgba(140, 116, 255, 0.4);
  }
}

.button-violet-light, .button-violet-light-rounded {
  background-color: #f6f4ff;
  color: #8c74ff;
  transition: 0.4s ease-in-out;
}
.button-violet-light-selected {
  background-color: #8c74ff;
  color: #fff;
}
@media (hover: hover) {
  .button-violet-light:hover, .button-violet-light-rounded:hover {
    background-color: #8c74ff;
    color: #fff;
  }
}
@media (hover: none) {
  .button-violet-light:active, .button-violet-light-rounded:active {
    background-color: #8c74ff;
    color: #fff;
  }
}

.button-violet-outline, .button-violet-outline-rounded {
  background-color: white;
  border: solid 2px #8c74ff;
  color: #8c74ff;
  transition: 0.4s ease-in-out;
}
@media (hover: hover) {
  .button-violet-outline:hover, .button-violet-outline-rounded:hover {
    background-color: #8c74ff;
    color: #fff;
  }
}
@media (hover: none) {
  .button-violet-outline:active, .button-violet-outline-rounded:active {
    background-color: #8c74ff;
    color: #fff;
  }
}

.button-danger {
  background-color: #ff616e;
  color: #fff;
  transition: 0.4s ease-in-out;
}
@media (hover: hover) {
  .button-danger:hover {
    background-color: #ff2732;
  }
}
@media (hover: none) {
  .button-danger:active {
    background-color: #ff2732;
  }
}

.button-danger-light, .button-red-light-rounded {
  background-color: #ffebed;
  color: #ff616e;
  transition: 0.4s ease-in-out;
}
@media (hover: hover) {
  .button-danger-light:hover, .button-red-light-rounded:hover {
    background-color: #ff616e;
    color: #fff;
  }
}
@media (hover: none) {
  .button-danger-light:active, .button-red-light-rounded:active {
    background-color: #ff616e;
    color: #fff;
  }
}

.button-gray {
  background-color: #f3f3f3;
  color: #0e0e0e;
  border: solid 2px transparent;
  transition: 0.4s ease-in-out;
}
@media (hover: hover) {
  .button-gray:hover {
    background-color: #fff;
    border: solid 2px #dfdfdf;
  }
}
@media (hover: none) {
  .button-gray:active {
    background-color: #fff;
    border: solid 2px #dfdfdf;
  }
}

.button-gray-violet {
  background-color: #f3f3f3;
  border: solid 2px transparent;
  transition: 0.3s ease-in-out;
  padding: 10px;
  height: -moz-max-content;
  height: max-content;
}
@media (hover: hover) {
  .button-gray-violet:hover {
    border-color: #8c74ff;
    background-color: #f6f4ff;
    color: #8c74ff;
  }
  .button-gray-violet:hover > * {
    color: #8c74ff;
  }
}
@media (hover: none) {
  .button-gray-violet:active {
    border-color: #8c74ff;
    background-color: #f6f4ff;
    color: #8c74ff;
  }
  .button-gray-violet:active > * {
    color: #8c74ff;
  }
}

.button-white-red {
  color: #ff2732;
  transition: 0.4s ease-in-out;
}
@media (hover: hover) {
  .button-white-red:hover {
    color: #fff;
    background-color: #ff2732;
  }
}
@media (hover: none) {
  .button-white-red:active {
    color: #fff;
    background-color: #ff2732;
  }
}

.button-white-green {
  color: #2cdc6f;
  transition: 0.4s ease-in-out;
}
@media (hover: hover) {
  .button-white-green:hover {
    color: #fff;
    background-color: #2cdc6f;
  }
}
@media (hover: none) {
  .button-white-green:active {
    color: #fff;
    background-color: #2cdc6f;
  }
}

.inputs-base, .search-form__input, .outlined-input-line, .outlined-input-danger, .outlined-input, .input-line, .input-danger, .input-gray, .input-transparent {
  border-radius: 5px;
  background: #f3f3f3;
  padding: 10px;
  min-height: 50px;
  text-overflow: ellipsis;
}
.inputs-base::-moz-placeholder, .search-form__input::-moz-placeholder, .outlined-input-line::-moz-placeholder, .outlined-input-danger::-moz-placeholder, .outlined-input::-moz-placeholder, .input-line::-moz-placeholder, .input-danger::-moz-placeholder, .input-gray::-moz-placeholder, .input-transparent::-moz-placeholder {
  color: #b8b8b8;
}
.inputs-base::placeholder, .search-form__input::placeholder, .outlined-input-line::placeholder, .outlined-input-danger::placeholder, .outlined-input::placeholder, .input-line::placeholder, .input-danger::placeholder, .input-gray::placeholder, .input-transparent::placeholder {
  color: #b8b8b8;
}

.input-transparent {
  background-color: transparent;
}

.input-danger {
  background-color: #fff;
  color: #ff2732;
  border: solid 2px #ff2732;
  animation: shake 0.2s;
}
.input-danger::-moz-placeholder {
  color: #ff2732;
}
.input-danger::placeholder {
  color: #ff2732;
}
@keyframes shake {
  0% {
    transform: translateX(3px);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(-3px);
  }
}

.input-line {
  background-color: transparent;
  font-size: 16px;
}

.outlined-input {
  background-color: #fff;
  border: solid 2px #f3f3f3;
  transition: 0.3s ease-in-out;
}
.outlined-input::-moz-placeholder {
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.outlined-input::placeholder {
  transition: 0.3s ease-in-out;
}
.outlined-input:focus {
  border: solid 2px #8c74ff;
  color: #8c74ff;
}
.outlined-input:focus::-moz-placeholder {
  color: rgba(140, 116, 255, 0.6);
}
.outlined-input:focus::placeholder {
  color: rgba(140, 116, 255, 0.6);
}

.outlined-input-line, .outlined-input-danger {
  background-color: transparent;
  border-bottom: solid 2px #f3f3f3;
  border-radius: 0;
  transition: 0.3s ease-in-out;
}
.outlined-input-line::-moz-placeholder, .outlined-input-danger::-moz-placeholder {
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.outlined-input-line::placeholder, .outlined-input-danger::placeholder {
  transition: 0.3s ease-in-out;
}
@media (hover: hover) {
  .outlined-input-line:hover, .outlined-input-danger:hover {
    background-color: rgba(243, 243, 243, 0.7);
  }
}
@media (hover: none) {
  .outlined-input-line:active, .outlined-input-danger:active {
    background-color: rgba(243, 243, 243, 0.7);
  }
}
.outlined-input-line:focus, .outlined-input-danger:focus {
  background-color: #f6f4ff;
  color: #8c74ff;
  border-bottom-color: #8c74ff;
}
.outlined-input-line:focus::-moz-placeholder, .outlined-input-danger:focus::-moz-placeholder {
  color: rgba(140, 116, 255, 0.5);
}
.outlined-input-line:focus::placeholder, .outlined-input-danger:focus::placeholder {
  color: rgba(140, 116, 255, 0.5);
}

.outlined-input-danger {
  border-bottom: solid 2px #ffbbc1;
}
.outlined-input-danger::-moz-placeholder {
  color: #ffbbc1;
}
.outlined-input-danger::placeholder {
  color: #ffbbc1;
}
@media (hover: hover) {
  .outlined-input-danger:hover {
    background-color: rgba(255, 235, 237, 0.4);
  }
}
@media (hover: none) {
  .outlined-input-danger:active {
    background-color: rgba(255, 235, 237, 0.4);
  }
}
.outlined-input-danger:focus {
  background-color: #ffebed;
  color: #ff616e;
  border-bottom-color: #ff616e;
}
.outlined-input-danger:focus::-moz-placeholder {
  color: #ffbbc1;
}
.outlined-input-danger:focus::placeholder {
  color: #ffbbc1;
}

.ui-title {
  font-size: 22px;
  font-weight: 500;
}

.ui-text, .comment__footer, .comment__body, .editor, .code-block__text, .lesson-section__text, .optional-text, .text-violet, .text-danger, .error-text, .big-text-regular, .big-text, .medium-text {
  color: #0e0e0e;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}

.medium-text {
  font-weight: 500;
}

.big-text {
  font-size: 32px;
  font-weight: 500;
}

.big-text-regular {
  font-size: 32px;
  font-weight: 400;
}

.text-danger, .error-text {
  color: #ff2732;
}

.error-text {
  animation: shake 0.2s;
  margin: 3px;
}
@keyframes shake {
  0% {
    transform: translateX(3px);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(-3px);
  }
}

.text-violet {
  color: #8c74ff;
}

.linked-text {
  color: #8234ff;
  cursor: pointer;
}
@media (hover: hover) {
  .linked-text:hover {
    text-decoration: underline;
  }
}
@media (hover: none) {
  .linked-text:active {
    text-decoration: underline;
  }
}

.required {
  color: #ff2732;
}
.required:before {
  content: "* ";
}

.icon-large-size {
  font-size: 40px;
}

.icon-big-size {
  font-size: 32px;
}

.icon-medium-size {
  font-size: 24px;
}

.icon-normal-size {
  font-size: 20px;
}

.line-start-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.line-distributed-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.line-end-container {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
}

.indented > *:not(:last-child) {
  margin-bottom: 40px;
}

.disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  opacity: 0.6;
}

.violet-selection {
  background-color: #f6f4ff;
  color: #8c74ff;
  padding: 0 5px;
}

.optional-text {
  color: #b8b8b8;
}

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  src: url("~/../../../assets/fonts/material-symbols-rounded.ttf") format("truetype");
}
.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.header {
  background: #8234ff;
  box-sizing: border-box;
  height: 120px;
  transition: 0.3s ease-in-out;
}
.header__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__buttons {
  display: flex;
  gap: 20px;
}
.header__buttons button {
  padding: 0 10px;
}
.header .dropdown__head {
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: 0.3s ease-in-out;
}
.header .dropdown__head .dropdown__profile-image {
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: solid 3px rgba(255, 255, 255, 0.5);
  -o-object-fit: cover;
     object-fit: cover;
}
.header .dropdown__head, .header .dropdown__head > * {
  color: #fff;
}
.header .dropdown__head:focus {
  background: rgba(255, 255, 255, 0.2);
}
@media (hover: hover) {
  .header .dropdown__head:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}
@media (hover: none) {
  .header .dropdown__head:active {
    background: rgba(255, 255, 255, 0.2);
  }
}
.header .dropdown__items {
  z-index: 10;
}
@media screen and (max-width: 440px) {
  .header .dropdown__head {
    box-sizing: content-box;
    padding: 15px;
  }
  .header .dropdown__items {
    position: static;
    width: 100%;
  }
}
@media screen and (max-width: 440px) {
  .header {
    height: -moz-max-content;
    height: max-content;
  }
  .header__nav {
    width: 100%;
  }
  .header__container {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header__logo {
    margin-bottom: 40px;
  }
  .header__buttons {
    flex-direction: column;
    gap: 10px;
  }
}

.logo-pic {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.logo-pic__img {
  min-width: 60px;
  min-height: 60px;
  width: 60px;
  height: 60px;
}
.logo-pic__title {
  color: white;
}
@media (max-width: 576px) {
  .logo-pic__title {
    display: none;
  }
}

.dropdown {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  position: relative;
}
.dropdown__items {
  position: absolute;
  z-index: 3;
  top: calc(100% + 20px);
  right: 0;
  width: -moz-max-content;
  width: max-content;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.21);
}
.dropdown__items > *:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.dropdown__items > *:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.dropdown__item {
  display: flex;
  align-items: center;
  padding: 16px 80px 16px 20px;
}
.dropdown__item .icon {
  margin-right: 20px;
  font-size: calc(1em + 4px);
}
.dropdown__item .icon-accent {
  color: #8c74ff;
}
@media (hover: hover) {
  .dropdown__item:hover {
    background: #f3f3f3;
  }
}
@media (hover: none) {
  .dropdown__item:active {
    background: #f3f3f3;
  }
}
@media screen and (max-width: 576px) {
  .dropdown__item {
    padding: 20px 80px 16px 20px;
  }
}

.ellipsis-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  background-color: #f3f3f3;
  transition: 0.3s ease-in-out;
}
@media (hover: hover) {
  .ellipsis-button:hover {
    background-color: #dfdfdf;
  }
}
@media (hover: none) {
  .ellipsis-button:active {
    background-color: #dfdfdf;
  }
}

.main {
  width: 100%;
}
.main > * {
  margin-bottom: 40px;
}

.common-page-wrapper > *:first-child {
  margin-top: 40px;
}

.search-form {
  display: flex;
  gap: 0;
  width: 100%;
}
.search-form__input {
  height: 50px;
  width: 100%;
  padding: 0 10px !important;
  font-weight: 500;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search-form__input::-moz-placeholder {
  color: #b8b8b8;
}
.search-form__input::placeholder {
  color: #b8b8b8;
}
.search-form__button {
  height: 50px;
  width: 80px;
  font-size: 24px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pagination-form {
  display: flex;
  align-items: center;
  gap: 20px;
}
.pagination-form__pages-view {
  display: flex;
  align-items: center;
}
.pagination-form__button {
  height: 50px;
  width: 50px;
  font-size: 24px;
}
.pagination-form__button-selected {
  border: solid 3px #8c74ff;
}
@media screen and (max-width: 576px) {
  .pagination-form {
    gap: 10px;
  }
}
@media screen and (max-width: 440px) {
  .pagination-form {
    gap: 8px;
  }
  .pagination-form__button {
    height: 45px;
    width: 45px;
    font-size: 22px;
    border-width: 2px;
  }
}

.control-nav {
  display: flex;
  gap: 20px;
}
.control-nav__add-button {
  min-width: 50px;
  width: 50px;
  height: 50px;
}
.control-nav__small-button {
  min-width: 30px;
  width: 30px;
  height: 30px;
}

.control-list > *:not(:last-child) {
  margin-bottom: 20px;
}

.course-item {
  min-height: 150px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border: solid 2px #f3f3f3;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.course-item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 10px;
}
.course-item__head {
  padding-bottom: 12px;
}
.course-item__head > *:not(:last-child) {
  margin-bottom: 4px;
}
.course-item__title {
  font-size: 22px;
  font-weight: 500;
}
.course-item__categories {
  font-weight: 500;
  line-height: 1.5;
  text-wrap: balance;
}
.course-item__categories > * {
  display: inline;
  font-size: 12px;
}
.course-item__additional {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
}
.course-item__properties {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}
.course-item__icon {
  font-size: 24px;
}
.course-item-disabled > * {
  opacity: 0.5;
}
.course-item * {
  transition: inherit;
}
@media (hover: hover) {
  .course-item:hover {
    border: solid 2px #8c74ff;
  }
  .course-item:hover .course-item__title {
    color: #8c74ff;
  }
}
@media (hover: none) {
  .course-item:active {
    border: solid 2px #8c74ff;
  }
  .course-item:active .course-item__title {
    color: #8c74ff;
  }
}
@media screen and (max-width: 576px) {
  .course-item__head {
    padding-bottom: 20px;
  }
  .course-item__head > :first-child {
    margin-bottom: 20px;
  }
  .course-item__categories > *:not(:last-child) {
    margin-bottom: 5px;
  }
  .course-item__categories > * {
    display: block;
  }
}

.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.auth-page__form {
  width: 100%;
}

.form, .form-bordered {
  max-width: 600px;
  padding: 0 10px;
}
.form__inputs > *:not(:last-child) {
  margin-bottom: 40px;
}
.form__form-input .form-input__input {
  width: 100%;
}
.form__title {
  text-align: center;
  margin-bottom: 80px;
}
.form__button {
  margin-top: 60px;
  width: 100%;
  padding: 0 10px;
}

.form-bordered {
  padding: 40px 80px;
  border: solid 2px #f3f3f3;
  border-radius: 5px;
}
@media screen and (max-width: 576px) {
  .form-bordered {
    padding: 40px;
  }
}

.form-input > *:not(:last-child) {
  margin-bottom: 20px;
}
.form-input__input {
  width: 100%;
}
.form-input__error {
  line-height: 1.5;
  text-wrap: balance;
}
.form-input__label-required:after {
  content: " *";
  color: #ff2732;
}

.image-uploader__label {
  cursor: pointer;
  display: flex;
  gap: 40px;
  align-items: center;
}
.image-uploader__input {
  display: none;
}
.image-uploader .image-reuploadable {
  position: relative;
  width: -moz-min-content;
  width: min-content;
}
.image-uploader .image-reuploadable__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  background-color: #f3f3f3;
  color: #b8b8b8;
}

.avatar-image {
  min-width: 100px;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}

.account-page {
  display: grid;
  grid-template-columns: auto 1fr;
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 50px;
}
.account-page__nav {
  min-width: 300px;
}
.account-page__content > *:first-child {
  margin-bottom: 40px;
}
.account-page__content .form, .account-page__content .form-bordered {
  max-width: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: none;
}
.account-page__content .form .profile-card, .account-page__content .form-bordered .profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: profile;
}
.account-page__content .form .profile-card__subtitle, .account-page__content .form-bordered .profile-card__subtitle {
  font-weight: 500;
}
.account-page__content .form > *, .account-page__content .form-bordered > * {
  max-width: 400px;
  width: 100%;
}
.account-page__content .account-change-form {
  display: grid;
  grid-template-areas: "profile inputs" "profile nav";
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 50px;
}
.account-page__content .account-change-form__inputs {
  grid-area: inputs;
}
.account-page__content .account-change-form__nav {
  grid-area: nav;
}
.account-page__content .password-change-form {
  max-width: 400px;
}
@media screen and (max-width: 992px) {
  .account-page .account-change-form {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .account-page {
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
  }
  .account-page__nav {
    min-width: auto;
  }
}

.side-nav {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.side-nav .nav-link {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 50px;
  padding: 5px 20px;
  font-weight: 500;
  border-radius: 5px;
  color: #0e0e0e;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.side-nav .nav-link * {
  color: inherit;
}
.side-nav .nav-link__icon {
  font-size: 20px;
}
.side-nav .nav-link-selected {
  background-color: #8c74ff;
  color: #fff;
}
@media (hover: hover) {
  .side-nav .nav-link:not(.side-nav .nav-link-selected):hover {
    color: #8c74ff;
  }
}
@media (hover: none) {
  .side-nav .nav-link:not(.side-nav .nav-link-selected):active {
    color: #8c74ff;
  }
}
.side-nav > * {
  width: 100%;
}
.side-nav > *:not(:last-child) {
  margin-bottom: 20px;
}

.profile-card__title {
  font-size: 22px;
  font-weight: 500;
}
.profile-card__subtitle {
  font-size: 16px;
}
.profile-card > *:not(:last-child) {
  margin-bottom: 10px;
}

.selection-panel {
  display: flex;
  font-weight: 500;
  z-index: 0;
}
@media screen and (max-width: 440px) {
  .selection-panel {
    flex-direction: column;
    gap: 20px;
  }
}

.selection-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  position: relative;
  cursor: pointer;
  border-bottom: solid 3px transparent;
  transition: 0.3s ease-in-out;
}
@media (hover: hover) {
  .selection-item:hover {
    color: #8c74ff;
  }
}
@media (hover: none) {
  .selection-item:active {
    color: #8c74ff;
  }
}
.selection-item-selected {
  background-color: #f6f4ff;
  color: #8c74ff;
  border-bottom: solid 3px #8c74ff;
}
@media screen and (max-width: 440px) {
  .selection-item-selected {
    border-color: transparent;
  }
}

.view-page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.view-page__description {
  white-space: pre-wrap;
}
.view-page__title {
  text-overflow: ellipsis;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (max-width: 768px) {
  .view-page__title {
    font-size: 26px;
  }
}
@media screen and (max-width: 576px) {
  .view-page__title {
    font-size: 22px;
    font-weight: 600;
  }
}
.content-side {
  display: grid;
  grid-template-columns: 2fr 1fr;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.content-side__main {
  padding-right: 60px;
  border-right: solid 2px #f3f3f3;
}
@media screen and (max-width: 768px) {
  .content-side {
    grid-template-columns: none;
    grid-template-rows: auto 1fr;
    row-gap: 40px;
  }
  .content-side__main {
    padding-right: 0;
    border-right: none;
    padding-bottom: 40px;
    border-bottom: solid 2px #f3f3f3;
  }
}

.content-list__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}
.content-list__add-button {
  width: 50px;
  height: 50px;
}
.content-list__items > *:not(:last-child) {
  margin-bottom: 20px;
}
.content-list__item {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.content-list__item .item-link {
  width: 100%;
}

.item-link {
  height: 50px;
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.item-link__info {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 500;
}
.item-link__properties {
  font-weight: 500;
}
.item-link__checkbox {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  .item-link {
    padding: 10px;
  }
}

.control-item-link {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.control-item-link .item-link {
  width: 100%;
}

.link-light-violet {
  color: #8c74ff;
  transition: 0.3s ease-in-out;
}
.link-light-violet * {
  color: inherit;
}
@media (hover: hover) {
  .link-light-violet:hover {
    background-color: #f6f4ff;
  }
}
@media (hover: none) {
  .link-light-violet:active {
    background-color: #f6f4ff;
  }
}

.enter-module-form {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  padding: 20px;
}
.enter-module-form__input {
  width: 100%;
  max-width: 400px;
}
.enter-module-form__buttons {
  display: flex;
}
.enter-module-form__buttons > *:not(:last-child) {
  margin-right: 10px;
}
.enter-module-form__button {
  padding: 0;
  min-width: 40px;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.content-about > *:not(:last-child) {
  margin-bottom: 40px;
}
.content-about__button {
  width: 100%;
}
.content-about__list > *:not(:last-child) {
  margin-bottom: 20px;
}
.content-about__list .text-violet {
  font-weight: 500;
}
.content-about__list .progress-bar {
  width: 100%;
}

.progress-bar {
  position: relative;
  min-width: 200px;
  height: 20px;
  background-color: #f3f3f3;
  border-radius: 10px;
}
.progress-bar__progress {
  position: absolute;
  height: inherit;
  border-radius: inherit;
  background-color: #8c74ff;
}

.checkbox-container {
  display: flex;
  margin: 3px;
  gap: 20px;
  cursor: pointer;
}
@media (hover: hover) {
  .checkbox-container:hover .checkbox:not(.checkbox-checked), .checkbox-container:hover .checkbox-rounded:not(.checkbox-checked) {
    outline: 3px solid rgba(140, 116, 255, 0.2);
  }
  .checkbox-container:hover .checkbox:not(.checkbox-checked) > *, .checkbox-container:hover .checkbox-rounded:not(.checkbox-checked) > * {
    color: #8c74ff;
  }
  .checkbox-container:hover .checkbox__label {
    color: #8c74ff;
  }
}
@media (hover: none) {
  .checkbox-container:active .checkbox:not(.checkbox-checked), .checkbox-container:active .checkbox-rounded:not(.checkbox-checked) {
    outline: 3px solid rgba(140, 116, 255, 0.2);
  }
  .checkbox-container:active .checkbox:not(.checkbox-checked) > *, .checkbox-container:active .checkbox-rounded:not(.checkbox-checked) > * {
    color: #8c74ff;
  }
  .checkbox-container:active .checkbox__label {
    color: #8c74ff;
  }
}

.checkbox, .checkbox-rounded {
  min-width: 30px;
  min-height: 30px;
  width: 30px;
  height: 30px;
  border: solid 2px #8c74ff;
  border-radius: 10px;
  position: relative;
  outline: 3px solid transparent;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.checkbox__check {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: inherit;
  color: transparent;
}
.checkbox__label {
  transition: 0.3s ease-in-out;
}
.checkbox-checked {
  background-color: #8c74ff;
}
.checkbox-checked > * {
  color: #fff;
}
.checkbox:not(.checkbox-checked):focus, .checkbox-rounded:not(.checkbox-checked):focus {
  outline: 3px solid rgba(140, 116, 255, 0.2);
}
.checkbox:not(.checkbox-checked):focus > *, .checkbox-rounded:not(.checkbox-checked):focus > * {
  color: #8c74ff;
}
@media (hover: hover) {
  .checkbox:not(.checkbox-checked):hover, .checkbox-rounded:not(.checkbox-checked):hover {
    outline: 3px solid rgba(140, 116, 255, 0.2);
  }
  .checkbox:not(.checkbox-checked):hover > *, .checkbox-rounded:not(.checkbox-checked):hover > * {
    color: #8c74ff;
  }
}
@media (hover: none) {
  .checkbox:not(.checkbox-checked):active, .checkbox-rounded:not(.checkbox-checked):active {
    outline: 3px solid rgba(140, 116, 255, 0.2);
  }
  .checkbox:not(.checkbox-checked):active > *, .checkbox-rounded:not(.checkbox-checked):active > * {
    color: #8c74ff;
  }
}

.checkbox-rounded {
  border-radius: 15px;
}

.user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px #f3f3f3;
  border-radius: 5px;
  padding: 40px 20px;
}
.user-item__profile {
  display: flex;
  align-items: center;
  gap: 30px;
}
.user-item__image {
  min-width: 60px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-item__properties {
  display: flex;
  gap: 10px;
}
.user-item__buttons {
  display: flex;
  gap: 20px;
}
.user-item__button {
  padding: 0;
  min-width: 40px;
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 440px) {
  .user-item {
    flex-direction: column;
    padding: 20px;
    gap: 40px;
  }
  .user-item__profile {
    flex-direction: column;
    text-align: center;
  }
  .user-item__buttons {
    flex-direction: column;
  }
}

.modal, .popup-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  padding: 20px;
}
.modal__content {
  position: relative;
  top: 50%;
  left: 50%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 40px;
  min-width: 300px;
  max-width: 600px;
  padding: 40px;
  z-index: 10;
  border-radius: 10px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  margin: 10px;
  width: 100%;
}
.modal__content-restricted {
  max-height: 800px;
}
.modal__content-restricted .modal__body {
  overflow: auto;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__close-button {
  background-color: #f3f3f3;
  transition: 0.4s ease-in-out;
  min-width: 40px;
  width: 40px;
  height: 40px;
}
@media (hover: hover) {
  .modal__close-button:hover {
    background-color: #ff616e;
    color: #fff;
  }
}
@media (hover: none) {
  .modal__close-button:active {
    background-color: #ff616e;
    color: #fff;
  }
}
.modal__footer {
  display: flex;
  gap: 20px;
}
.modal__bottom-button {
  width: 100%;
}
@media screen and (max-width: 576px) {
  .modal, .popup-loader {
    padding: 0;
  }
  .modal__content {
    margin: 0;
    border-radius: 0;
    padding: 20px;
    max-width: none;
    min-width: 100%;
    width: 100%;
    height: 100%;
    height: 100dvh;
    max-height: none !important;
  }
}
@media screen and (max-height: 900px) {
  .modal__content > * {
    max-height: 600px;
  }
}
@media screen and (max-height: 600px) {
  .modal__content > * {
    max-height: 300px;
  }
}

.large-modal {
  max-width: 900px;
  width: 100%;
  max-height: 810px;
}
.large-modal .modal__body {
  overflow: auto;
}
.large-modal .modal__body .form, .large-modal .modal__body .form-bordered {
  max-width: none;
}

.lesson-creator {
  width: 100%;
}
.lesson-creator > *:not(:last-child) {
  margin-bottom: 60px;
}
.lesson-creator__form > *:not(:last-child) {
  margin-bottom: 40px;
}
.lesson-creator__bottom {
  display: flex;
  gap: 40px;
}

.content-creator > *:not(:last-child) {
  margin-bottom: 40px;
}
.content-creator__add-button {
  width: 100%;
}
.content-creator__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.lesson-section > *:not(:last-child) {
  margin-bottom: 40px;
}
.files-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.code-block {
  border: solid 2px #f3f3f3;
  border-radius: 5px;
  font-family: "Roboto Mono";
}
.code-block__title {
  width: -moz-max-content;
  width: max-content;
  min-height: 50px;
  background-color: #f3f3f3;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-top-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.code-block__title input {
  max-width: 120px;
  background-color: #fff;
  min-height: 30px;
  height: 30px;
}
.code-block__text {
  padding: 20px;
}
.code-block__code {
  font-family: "Roboto Mono";
  width: 100%;
  display: flex;
}
.code-block__code .textarea {
  padding: 20px;
  min-height: 400px !important;
  width: 100%;
  box-sizing: border-box;
  line-height: 1.5; /* Задает высоту строки */
  font-family: inherit; /* Устанавливает шрифт */
  font-size: inherit; /* Устанавливает размер шрифта */
}
.code-block__line-numbers {
  background-color: #f3f3f3;
  width: 80px;
  display: flex;
  gap: 0;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden; /* Скрывает полосу прокрутки */
  box-sizing: border-box;
  line-height: 1.5; /* Задает высоту строки, совпадающую с textarea */
  font-family: inherit; /* Устанавливает тот же шрифт, что и у textarea */
  font-size: inherit; /* Устанавливает тот же размер шрифта, что и у textarea */
}
.code-block__line-number {
  padding: 0px 4px;
}
.code-block__line-number-highlighted {
  color: #8c74ff;
}

.response-list > *:not(:last-child) {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .response-list__list-item {
    flex-direction: column;
    gap: 40px;
  }
}
@media screen and (max-width: 440px) {
  .response-list .user-item__properties {
    flex-direction: column;
  }
}

.switch-container {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}
@media (hover: hover) {
  .switch-container:hover .switch__button {
    background-color: #8c74ff;
  }
  .switch-container:hover .switch__label {
    color: #8c74ff;
  }
}
@media (hover: none) {
  .switch-container:active .switch__button {
    background-color: #8c74ff;
  }
  .switch-container:active .switch__label {
    color: #8c74ff;
  }
}

.switch {
  min-height: 30px;
  height: 30px;
  min-width: 40px;
  width: 40px;
  border: solid 2px #dfdfdf;
  padding: 4px;
  border-radius: 20px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  cursor: pointer;
}
@media (hover: hover) {
  .switch:hover .switch__button {
    background-color: #8c74ff;
  }
}
@media (hover: none) {
  .switch:active .switch__button {
    background-color: #8c74ff;
  }
}
.switch__button {
  min-width: 16px;
  width: 16px;
  height: 16px;
  background-color: #0e0e0e;
  border-radius: 8px;
  transition: all 0.3s cubic-bezier(0.82, 0.235, 0.18, 0.91);
}
.switch__label {
  transition: 0.3s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.switch-checked {
  border-color: #8c74ff;
  background-color: #fff;
}
.switch-checked .switch__button {
  background-color: #8c74ff;
  transform: translateX(calc(100% - 4px));
}

.loader {
  display: flex;
  justify-content: center;
  width: 100%;
}
.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 5px solid #dfdfdf;
  border-top-color: #8234ff;
  border-radius: 50%;
  animation: loading 1s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.popup-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-loader__container {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
}

.page-loader {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0 !important;
  width: 100px;
  height: 6px;
  background-color: #8234ff;
  animation: sliding 3s linear infinite;
}
@keyframes sliding {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

.loader-mini {
  min-width: 30px;
  width: 30px;
  height: 30px;
}
.loader-mini::after {
  display: flex;
  justify-content: center;
  min-width: 20px;
  width: 20px;
  height: 20px;
  content: "";
  border: 3px solid #dfdfdf;
  border-top-color: #8234ff;
  border-radius: 20px;
  animation: loading 1s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.notification {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 20;
  box-sizing: content-box;
  width: -moz-max-content;
  width: max-content;
  background-color: #3a3a3a;
  color: #fff;
  padding: 20px 40px;
  border-radius: 5px;
  animation: popup 2s ease-in-out;
  display: flex;
  gap: 20px;
  align-items: center;
}
@keyframes popup {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 576px) {
  .notification {
    left: 50%;
    transform: translateX(-50%);
  }
}

.footer {
  width: 100%;
  height: 100%;
  background-color: #180034;
  padding: 20px;
  color: #fff;
}
.footer__content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__title {
  font-size: 42px;
  font-weight: 600;
  color: #fff;
}
.footer__text {
  font-size: 16px;
  line-height: 1.5;
  text-align: right;
  color: #fff;
}
.footer__text * {
  color: #fff;
}
.footer__text a {
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 576px) {
  .footer__content {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .footer__title {
    font-size: 26px;
  }
  .footer__text {
    text-align: center;
    font-size: 12px;
  }
}

.select {
  min-width: 120px;
  max-width: 600px;
  text-overflow: ellipsis;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.select-selected .select__head {
  border-color: #8c74ff;
  color: #8c74ff;
}
.select-selected .select__head .icon {
  color: #8c74ff;
}
.select-selected .select__items {
  display: flex;
  flex-direction: column;
}
.select__head {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 5px 10px;
  height: 50px;
  background-color: #fff;
  border: solid 2px #dfdfdf;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
@media (hover: hover) {
  .select__head:hover {
    background-color: #f6f4ff;
    border-color: #8c74ff;
    color: #8c74ff;
  }
  .select__head:hover .icon {
    color: #8c74ff;
  }
}
@media (hover: none) {
  .select__head:active {
    background-color: #f6f4ff;
    border-color: #8c74ff;
    color: #8c74ff;
  }
  .select__head:active .icon {
    color: #8c74ff;
  }
}
.select__items {
  display: none;
  position: absolute;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: solid 2px #dfdfdf;
  width: 100%;
  max-height: 200px;
  overflow: auto;
  z-index: 3;
}
.select__item {
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
@media (hover: hover) {
  .select__item:hover {
    background-color: #8c74ff;
    color: #fff;
  }
}
@media (hover: none) {
  .select__item:active {
    background-color: #8c74ff;
    color: #fff;
  }
}
.select .icon {
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 576px) {
  .select__items {
    position: static;
  }
}

.invite-list > *:not(:last-child) {
  margin-bottom: 40px;
}
.invite-list__item {
  display: flex;
  max-height: 60px;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.invite-list__button {
  padding: 0;
  min-width: 40px;
  width: 40px;
  height: 40px;
}

.user-mini {
  display: flex;
  gap: 20px;
  align-items: center;
}
.user-mini__image {
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-mini__name {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}
.user-mini__nickname {
  font-size: 16px;
  color: #8c74ff;
}

.roles-list > *:not(:last-child) {
  margin-bottom: 40px;
}

.role-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  gap: 20px;
  border: solid 2px #f3f3f3;
  border-radius: 5px;
  padding: 20px;
}
.role-item__info {
  display: flex;
  gap: 20px;
  align-items: center;
}
.role-item__name {
  font-size: 20px;
  font-weight: 500;
}
.role-item__properties {
  display: flex;
  gap: 20px;
}
.role-item__button {
  min-width: 40px;
  width: 40px;
  height: 40px;
}

.checkbox-list > *:not(:last-child) {
  margin-bottom: 20px;
}

.breadcrumb {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  list-style: none;
}
.breadcrumb__item {
  display: flex;
  gap: 20px;
  align-items: center;
  color: #0e0e0e;
}
.breadcrumb__item:not(:last-child)::after {
  content: "\e904";
  color: #0e0e0e;
  font-family: "learnlinkico" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-weight: 600;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.breadcrumb__item:last-child a {
  padding: 6px;
  color: #8c74ff;
  background-color: #f6f4ff;
}
.breadcrumb__item a {
  box-sizing: content-box;
  font-weight: 500;
  text-wrap: balance;
  border-radius: 3px;
  cursor: pointer;
  color: #0e0e0e;
}
.breadcrumb__item a:focus {
  text-decoration: underline;
  color: #8c74ff;
}
@media (hover: hover) {
  .breadcrumb__item a:hover {
    text-decoration: underline;
    color: #8c74ff;
  }
}
@media (hover: none) {
  .breadcrumb__item a:active {
    text-decoration: underline;
    color: #8c74ff;
  }
}

.file-icon-box {
  position: relative;
  display: flex;
  align-items: center;
  padding: 3px 5px;
  background-color: #fff;
  border-radius: 5px;
}
.file-icon-box__extension {
  z-index: 2;
  bottom: 3px;
  right: 3px;
  font-size: 12px;
  padding: 3px;
  border-radius: 3px;
  background-color: #8c74ff;
  color: #fff;
  font-weight: 500;
  margin-left: -20px;
  margin-bottom: -20px;
}

.editor .ck-editor__editable_inline {
  min-height: 300px;
}

.file-item {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
}
.file-item__remove-button {
  min-width: 30px;
  width: 30px;
  height: 30px;
  background-color: #f3f3f3;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}
@media (hover: hover) {
  .file-item__remove-button:hover {
    color: #fff;
    background-color: #ff616e;
  }
}
@media (hover: none) {
  .file-item__remove-button:active {
    color: #fff;
    background-color: #ff616e;
  }
}

.file-uploader {
  padding: 20px;
  border: solid 2px #f3f3f3;
  border-radius: 5px;
}
.file-uploader > *:not(:last-child) {
  margin-bottom: 30px;
}

.drag-n-drop {
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: dashed 5px #f3f3f3;
  border-radius: 5px;
  padding: 20px;
}
.drag-n-drop__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.drag-n-drop__content * {
  color: #dfdfdf;
}
.drag-n-drop__input {
  display: none;
}
.drag-n-drop__icon {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 140px;
}
.drag-n-drop__text {
  font-size: 32px;
  text-align: center;
}
.drag-n-drop-dragging {
  border-color: #8c74ff;
}
.drag-n-drop-dragging .drag-n-drop__content * {
  color: #8c74ff;
}
@media screen and (max-width: 768px) {
  .drag-n-drop__text {
    font-size: 22px;
  }
  .drag-n-drop__icon {
    max-width: 100px;
  }
}
@media screen and (max-width: 576px) {
  .drag-n-drop__text {
    font-size: 20px;
  }
  .drag-n-drop__icon {
    max-width: 80px;
  }
}

.section-create > *:not(:last-child) {
  margin-bottom: 40px;
}
.section-create__input {
  max-width: 500px;
}
.section-create__button {
  padding: 0;
  min-width: 40px;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.section-editor-container {
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr auto;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.section-editor-container__actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 576px) {
  .section-editor-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }
  .section-editor-container__actions {
    flex-direction: row;
    gap: 10px;
  }
}

.greetings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 100%;
  margin: 0 !important;
}
.greetings__info {
  max-width: 600px;
}
.greetings__info > *:not(:last-child) {
  margin-bottom: 40px;
}
.greetings__links {
  font-size: 20px;
}
.greetings__link {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}
.greetings__link:hover {
  text-decoration: none;
}
.greetings__link:hover p {
  text-decoration: underline;
}
.greetings__description {
  font-size: 20px;
  text-wrap: balance;
}
.greetings__image img {
  max-width: 400px;
}
@media screen and (max-width: 992px) {
  .greetings {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0 !important;
  }
  .greetings__info {
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .greetings__info h1 {
    font-size: 30px;
  }
  .greetings__image img {
    max-width: 300px;
  }
}

.collapseable-block {
  border-radius: 5px;
}
.collapseable-block__header {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  min-height: 60px;
  background-color: #f3f3f3;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 0.3s ease-in-out;
}
.collapseable-block__header > * {
  transition: 0.3s ease-in-out;
}
@media (hover: hover) {
  .collapseable-block__header:hover {
    background-color: #f6f4ff;
  }
  .collapseable-block__header:hover > * {
    color: #8c74ff;
  }
}
@media (hover: none) {
  .collapseable-block__header:active {
    background-color: #f6f4ff;
  }
  .collapseable-block__header:active > * {
    color: #8c74ff;
  }
}
.collapseable-block__collapse {
  max-height: 0;
  padding: 10px;
  overflow: hidden;
  visibility: hidden;
  transition: all 0.3s ease;
}
.collapseable-block__collapse-active {
  max-height: 500px;
  visibility: visible;
}

.table table {
  border: solid 2px #e2e2e2;
}
.table th,
.table td {
  padding: 10px 40px;
  border: solid 2px #e2e2e2;
}
.table th {
  font-weight: 600;
  background-color: #f3f3f3;
  text-align: left;
}

.rate-selector {
  display: flex;
  align-items: center;
  gap: 20px;
}
.rate-selector__button {
  height: 50px;
  width: 50px;
  font-size: 24px;
}
.rate-selector__button-selected {
  border: solid 3px #8c74ff;
}
@media screen and (max-width: 576px) {
  .rate-selector {
    gap: 10px;
  }
}
@media screen and (max-width: 440px) {
  .rate-selector {
    gap: 8px;
  }
  .rate-selector__button {
    height: 45px;
    width: 45px;
    font-size: 22px;
    border-width: 2px;
  }
}

.review > *:not(:last-child) {
  margin-bottom: 40px;
}

.grade {
  font-size: 32px;
  font-weight: 600;
  padding: 8px;
  background-color: #f6f4ff;
  color: #8c74ff;
  width: -moz-max-content;
  width: max-content;
}
.grade > * {
  color: #8c74ff;
}

.comment {
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 5px;
  border: solid 2px #dfdfdf;
  border-radius: 5px;
}
.comment__head {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #f3f3f3;
}
.comment__user-info {
  font-size: 20px;
  font-weight: 500;
}
.comment__body {
  padding: 10px;
}
.comment__body-none {
  color: #b8b8b8;
  font-style: italic;
}
.comment__footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  color: #b8b8b8;
}
.comment__avatar img {
  min-width: 60px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}/*# sourceMappingURL=index.css.map */